<% quote = QuotePresenter.new(quote) -%>
<div class="quote fluid-row">
  <%= quote %>
  <%= render :partial  => "shared/control", :locals  => {:model  => quote.model, :edit_path  => edit_quote_path(quote.id)} %>
</div>
