<div class="control"> 
  <span class="label label-info">
    <%= link_to 'View', model %>
  </span>
  <span class="label label-info">
      <%= link_to 'Edit', edit_path %>
  </span>
  <span class="label label-important">
    <%= link_to 'Delete', model, :rel  => "delete-#{model.class.to_s.downcase}" , :method  => :delete, :confirm  => "Are you sure?" %>
  </span>
</div>
