<div class="row">
  <% if @search %>
    <form action="<%= pages_path %>" method="get">
      <input type="hidden" name="tags[]" value="<%= @search.tags.join(',') %>" id="tags" />
      <input type="submit" value="Filter" class="btn btn-sm"/>
    </form>

    <h3>Pages tagged with <%= @search.search_tags %></h3>
  <% end %>
  <ul>
    <% @pages.each do |page| %>
      <% if current_or_guest_user.can_read?(page) %>
        <li><%= link_to page.name, page %></li>
      <% end %>
    <% end %>
  </ul>
</div>



