<h3>Search Result</h3>

<% if @pages.empty? %>
  <div class="block-message alert-message warning">
    <p>
      No pages matched your query.
    </p>
    <div class="alert-actions">
      <%= link_to "Create #{params[:query]}", new_page_path(:page  => {:name  => params[:query]}), :class  => "btn small" %>
    </div>
  </div>
<% else %>  
  <ul>
  <% @pages.each do |page| %>
    <li><%= link_to page.name, page %></li>
  <% end %>
  </ul>
<% end %>


