<div class="row-fluid">
  <h3>Search Result</h3>

  <% unless @search.results? %>
    <div class="block-message alert-message warning">
      <p>
        No pages matched your query.
      </p>
      <div class="alert-actions">
        <%= @search.new_page_link_from_query :class  => "btn btn-small", :rel  => "new-page" %>
      </div>
    </div>
  <% else %>  
    <ul>
    <% @search.results.each do |page| %>
      <li><%= link_to page.name, page %></li>
    <% end %>
    </ul>

    <% unless @search.exact_match? %>
      <div><%= @search.new_page_link_from_query :class  => "btn btn-small", :rel  => "new-page" %></div>
    <% end  %>
  <% end %>
</div>
