<% content_for :breadcrumb do -%>
  <li>
    <%= link_to "Home", root_path %>
  	<span class="divider">/</span>
  </li>
  <li class="active"><%= @page.name %></li>
<% end -%>

<h1><%= @page.name %></h1>

<div>
  <%= @page.data.html_safe %>
</div>
