/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require select2
 *= require highlight-github-theme
 *= require dropzone/basic
 *= require_self
 *= require_tree . 
*/
@import "bootstrap";
@import "font-awesome";

.container-full {
  margin: 0 auto;
  width: 100%;
}

pre.code {
  background-color: #f8f8ff;
}

a.absent {
  color: #f30;
  text-decoration: none;
  border-bottom: 1px dashed #f30;
}
