/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require select2
 *= require highlight-github-theme
 *= require_self
 *= require_tree . 
*/

body {
  #padding-top: 60px;
  background-color: #fffffc;
  color: #2b2b2b;
}

nav.navbar-static-top {
}

pre.code {
  background-color: #f8f8ff;
}

a.absent {
  color: #f30;
  text-decoration: none;
  border-bottom: 1px dashed #f30;
}
