.page-metadata, .quote-metadata, .link-metadata, .bookmark-metadata {
  background-color: whiteSmoke;
  font-size: 85%;
  color: #555;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 7px;
  height:33px;

  div.tags {
    font-weight: bold;
  }
}
