// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//*= require chosen

a.external {
  background: url(external.gif) no-repeat right center;
  padding-right: 11px;
}

a.github {
  background: url(github-favicon.ico) no-repeat right center;
  padding-right: 19px;
}

a.quora {
  background: url(quora.png) no-repeat right center;
  padding-right: 19px;
}

.page-data {
  min-height: 200px;
}
