div.quote, div.link {
  min-height: 50px;
  padding-bottom:15px;
  border-bottom: 1px solid #DFE5E7;

  div.control {
    margin-bottom:10px;
    visibility: hidden;

    a {
      color: #FFF;
      text-decoration:none;
      font-szie:7px;
    }
    span {
      margin-right: 5px;
    }
    .label {
      font-size: 9px;
    }
  }
}

div.link div.control{
  margin-top:10px;
  
}


div.hover div.control {
  visibility: visible;
}
